.boxImagens{
    margin: 10px;
}

.paragrafos{
    background-color: rgba(0, 0, 0, 0.513);
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.266);
}

.imagens{
    border: 3px solid  black;
    border-radius: 5px;
    width: 380px;
    cursor: pointer;
}