.containerMenubar{
    background: linear-gradient(-100deg, RGB(219, 41, 47), RGB(0, 56, 168));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.boxLogo {
    display: flex;
    align-items:center;
}
.boxLogo>p{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

#menu {
    cursor: pointer;
    color: white;
}

nav{
    background-color: rgba(0, 0, 0, 0.1);
}

.navegacao{
    display: none;
}

.listaPersonagens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaPersonagens > li {
    text-align: center;
    width: 350px;
    list-style: none;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;

}

.listaPersonagens > li:hover{
    transition: .3s;
    transform: scale(1.1);
}

.teste{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 @media (min-width: 600px) and (max-width: 1024px) {
    .listaPersonagens {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .listaPersonagens > li {
        width: 300px;
    }
    nav{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
}

@media (min-width: 1024px){
    .containerMenubar{
        justify-content: center;
    }
    .boxIcone{
        display: none;
    }
    .navegacao{
        display: block;
    }
    .listaPersonagens {
        background: linear-gradient(-100deg, RGB(219, 41, 47), RGB(0, 56, 168));
        display: flex;
        flex-direction: row;
    }
}
